$font-color: #fff;
$background-color: #0c0c0d;
$fog-color: darkslategray; // or try darkolivegreen
$night-color: rgba(204, 0, 102, 0.5); // ruby or try midnightblue
$mask-color: #150926;
$button-color: transparent;
$bordercolor: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadowcolor: #fff;
$text-shadow-color: #000;
$fadecolor: rgba(255, 255, 255, 0.6);

// body {
//     --s: 100px; /* control the size */
//     --c1: #590f08;
//     --c2: #8c1c03;
    
//     --_g: 
//        var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
//        var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
//     background:
//       radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
//       radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
//       var(--c1);
//     background-size: var(--s) var(--s);
//   }
  
  