$font-color: #a3bfd9;
$background-color: #1d130e;
$fog-color: darkslategray;
$night-color: rgba(204, 0, 102, 0.5);
$mask-color:#1d130e;
$button-color: transparent;
$bordercolor: #bfa084;
$container-bgcolor: #1d130e;
$button-textcolor: #9cd3d9;
$shadowcolor: #cc9e7b;
$text-shadow-color: #cc9e7b;
$fadecolor: #a3bfd9;
  